*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: hsl(212, 45%, 89%);
    font-size:15px;
    font-family: "Outfit", sans-serif;
}

.card-holder
{
  display: flex;
  justify-content: center;
  align-items: center;
    
  padding-top:100px;
    
}

.container
{
    line-height: 4vH;
    width:30vH;
    
    background-color: white;
    border-radius: 9%;
    padding-left: 20px; 
    padding-top: 10px;
}


/* Add some padding inside the card container */
.container-up 
{
    
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-down 
{
    padding-bottom: 15px;
    font-size: 12px;
    font-style: italic
}


.container-image {
    background-image:  url(images/image-qr-code.png);
    background-size:cover;
    background-position: center;
    height: 25vh;
    width: 25vH;
    position: relative;
    
    border-radius: 9%;
}

.attribution 
{ 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}